<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div action="/secret" method="POST">
      <div class="main">
     <div class="elem1">
       <h1>David chang</h1>
       <h1>Anant Raj</h1>
       <h1>David chang</h1>
      <h1>MAKES SUPER</h1>
        <h1>David chang</h1>
     </div>
     <div class="elem1">
       <h1>gives Zero</h1>
       <h1>Makes super</h1>
       <h1>Doing it</h1>
       <h1>HERO NOW</h1>
       <h1>David chang</h1>
    </div>
     <div class="elem1">
      <h1>funks.</h1>
       <h1>Hero.</h1>
      <h1>NOW.</h1>
       <h1>JUST.</h1>
        <h1>David chang</h1>
     </div>
     <button>EXPLORE NOW</button>
              </div>
              <div class="right">
                <h3>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </h3>
                
                <p>
                  Modern web pages seamlessly blend sleek design with responsive
                  functionality, offering users an immersive and intuitive
                  digital experience. With dynamic layouts, interactive
                  elements, and optimized performance, these pages cater to the
                  ever-evolving needs of today's tech-savvy audience, fostering
                  a harmonious convergence of aesthetics and usability.
                </p>
             
        </div>
      </div>
    </div>
  </body>
</html>